/* below is an element selector*/
h1 {color:cornflowerblue;}
/* below is a grouped selector*/
p,h1 {font-size: 1.5em ;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-weight:bolder; 
   background-color: lightgreen;
}
 /* descendant selector only changes links inside paragraph tags*/
p a {
    color:  green;
}
/* class selector can be used to pick one or more tags on page*/
.secondpara {
    color:mediumorchid;
}
/* this is an id selector. ids must be unique*/
#firstpara {
    color: midnightblue;
}